.search-card {
   display: flex;
   width: fit-content;
   margin: 20px;
   padding: 10px;
   background-color: #d1bba290;
   border-radius: 10px;
}

#shop-link {
   color: black;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   text-decoration: none;
}

.search-card:hover {
   background-color: grey;
   border-radius: 5px;
   background: rgba(120, 173, 131, 0.332);
}

#vendor-photo {
   width: 240px;
   padding: 5px;
   border-radius: 15px;
}

#vendor-title {
   display: flex;
   margin: 0;
   max-width: 160px;
}

#vendor-category {
   display: flex;
   font-size: medium;
   max-width: 160px;

}

.stars {
   display: flex;
   width: fit-content;
   align-items: center;
}

#vendor-info {
   display: flex;
   justify-content: space-between;
}


.searchPhotos{
   height: 254px;
   align-items: center;
   display: flex;
}