.search-card {
   display: flex;
   width: fit-content;
   margin: 20px;
   padding: 10px;
   /* border: 1px solid black; */
}

#shop-link {
   color: black;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   text-decoration: none;
}

.search-card:hover {
   background-color: grey;
   border-radius: 5px;
   background: rgba(71, 103, 48, .25);
}

#vendor-photo {
   width: 240px;
   padding: 5px;
   border-radius: 15px;
}

#vendor-title {
   display: flex;
   margin: 0;
   max-width: 175px;
}

#vendor-category {
   display: flex;
   font-size: medium;
}

.stars {
   display: flex;
   width: fit-content;
   align-items: center;
}

#vendor-info {
   display: flex;
   justify-content: space-between;
}
