@page
@model MyApp.Namespace.indexModel
@{
   <form>
      <input type="file" name="file" accept="image/*" />
      @{
         Console.WriteLine("TEST");
      }
      <button>Upload</button>
   </form>
}
