.form-create-review {
   display: flex;
   flex-direction: column;
   width: 50%;
   min-width: fit-content;
   margin: 20px;
   padding: 10px;
   gap: 3px;

}

#form-title-stars {
   display: flex;
   align-items: center;
   gap: 15px;
}

#form-review-comment {
   width: auto;
   height: 125px;
   border: 2px solid black;
   border-radius: 5px;
   resize: none;
   background-color: rgba(209, 187, 162, .20);
}

.review-label {
   display: flex;
}

#star-container {
   display: flex;
   flex-direction: column;
}

#star-container>span {
   display: flex;
   justify-content: end;
   font-size: xx-small;
}

.form-create-review>button {
   align-self: self-end;
}

#form-review-title{
   background-color: rgba(209, 187, 162, .20);
}

.submit-button{
   border-bottom: 2px solid black; 
    border-right: 1px solid black; 
    border-top: none;
    border-left: none;
    border-radius: 10px;
    color: white;
    background: rgb(237, 70, 15);
    font-size: 13px;
    cursor: pointer;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 7px;
}