#register-form {
   display: flex;
   gap: 15px;
}

#account-container>label {
   display: flex;
   width: fit-content;
}

#shop-container>label {
   display: flex;
   width: fit-content;
}

#account-container {
   display: flex;
   justify-content: left;
   flex-direction: column;
   width: fit-content;
   gap: 5px;
}

.modal-content {
   flex-direction: column;
}

#shop-container {
   display: flex;
   justify-content: left;
   flex-direction: column;
   width: fit-content;
   gap: 5px;
}

#shop-container>textarea {
   resize: none;
   height: 145px;
   border: 2px solid black;
   border-radius: 5px;
}
