a {
   text-decoration: none;
   color: black;
}

li {
   list-style-type: none;
}

#footer-container {
   display: flex;
   justify-content: space-between;
   background-color: rgba(209, 187, 162, 1);
   padding: 0px 100px;
   position: absolute;
   width: 1080px;
   bottom: 0;
}

#site-map {
   padding-right: 100px;
   margin-top: 0px;
}

#site-map-links {
   display: flex;
   gap: 10px;
}

#site-map>h5 {
   margin-top: 10px;
   margin-bottom: 5px;
}

#site-map>ul>li {
   display: flex;
   justify-content: left;
}

#footer-socials {
   display: flex;
   justify-content: center;
   gap: 15px;
   padding-bottom: 10px;
}

#footer-title-socials {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
