html {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  height: fit-content;
  width: fit-content;
  color: black;
  background-color: rgba(249, 250, 239, 1);
  border: 2px solid black;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}


.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form>label {
  display: flex;
}

.form-title {
  margin: 0;
}

.submit-button {
  display: flex;
  align-self: center;
  width: fit-content;
  background-color: red;
  color: white;
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px 10px;
}

#vendor-checkbox-area {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 250px;
}


#vendor-checkbox {
  width: fit-content;
  position: relative;
}

#cards {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
  font-size: small;
}

/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */