header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   background-color: rgba(209, 187, 162, 1);
   padding: 20px;
   z-index: 1;
}

#logo {
   max-height: 50px;
   margin-left: 10px;
}

input {
   height: 25px;
   width: 250px;
   border-radius: 5px;
}

#search-bar {
   height: 25px;
   width: 250px;
   border-radius: 5px;
   background-color: rgba(223, 214, 203, 0.736);
   border-bottom: 2px solid black;
   border-right: 1px solid black;
   border-top: none;
   border-left: none;
   padding-left: 7px;
}

select {
   height: 25px;
   width: 150px;
   border-radius: 5px;
}

#search-button {
   color: gray;
   position: relative;
   right: 25px;
}

.searchSubmit {
   background-color: rgba(223, 214, 203, 0.736);
   border-bottom: 2px solid black;
   border-right: 1px solid black;
   border-top: none;
   border-left: none;
   padding: 3px;
   margin-left: 5px;
   border-radius: 5px;
}
